<!--
  Generated template for the VehicleListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <!-- <ion-title>Veículos</ion-title>  -->
    <!-- <ion-buttons end> -->
      <!-- <ion-searchbar [(ngModel)]="filterBy" placeholder="Procurar por Matrícula" (ionInput)="searchVehicles()"></ion-searchbar> -->
      <!-- <ion-searchbar [(ngModel)]="filterBy" showCancelButton (ionInput)="searchVehicles()" placeholder="Procurar por Matrícula" cancelButtonText="true" (ionCancel)="isSearchBarOpen=false"></ion-searchbar>
    </ion-buttons> -->
    <ion-title *ngIf= "!isSearchBarOpen">
        Veículos
        </ion-title>
        <ion-searchbar [(ngModel)]="filterBy" (ionInput)="searchVehicles()" showCancelButton placeholder="Procurar por Matrícula" cancelButtonText="true" *ngIf= "isSearchBarOpen" (ionCancel)="isSearchBarOpen=false"></ion-searchbar>
      <ion-buttons end>
        <button ion-button icon-only *ngIf= "!isSearchBarOpen" (click)="isSearchBarOpen=true">
          <ion-icon name="search"></ion-icon></button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar [(ngModel)]="filterBy" placeholder="Procurar por Matrícula" (ionInput)="searchVehicles()"></ion-searchbar> -->
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 *ngFor="let vehicle of filteredVehicles">
        <ion-card (click)="vehicleDetail(vehicle)">
          <ion-grid no-padding>
            <ion-row>
              <ion-col no-padding *ngFor="let photo of vehicle.photos">
                <img style="object-fit: cover; height: 80px;"
                  src="{{ photo }}">
              </ion-col>
            </ion-row>
            <ion-row align-items-center>
              <ion-col col-8>
                <ion-item>
                  <ion-icon name="information-circle" item-start></ion-icon>
                  <h2>{{ vehicle.meta.register }}</h2>
                  <p>{{ vehicle.meta.make }}</p>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item>
                  <ion-icon name="color-palette" item-start></ion-icon>
                  <div [style.background]="vehicle.meta.color" style="width: 16px; height: 16px; border: 1px solid rgba(1, 1, 1, .2); float: left; border-radius: 180%;"></div>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-8>
                <ion-item>
                  <ion-icon name="car" item-start></ion-icon>
                  <h2>{{ vehicle.meta.type }}</h2>
                </ion-item>
              </ion-col>
              <ion-col col-4>
                <ion-item>
                  <ion-icon name="people" item-start></ion-icon>
                  <p> 0 </p>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab right bottom>
    <button (click)="vehicleCreate()" ion-fab color="primary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
