page-accident-edit {
    .container {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    #map_canvas {
        margin-top: 0;
        flex: 1 1 auto;
        //height: 90%;
    }
}
