<!--
  Generated template for the ActorDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Interveniente</ion-title>
    <ion-buttons end [ngSwitch]="actorPage">
      <button ion-button icon-only (click)="confirmDelete()" *ngSwitchCase="'info'">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="actorPage">
      <ion-segment-button value="info">
        <ion-icon name="information-circle" class="segment-icon"></ion-icon>
        <span class="segment-text">Detalhes</span>
      </ion-segment-button>
      <ion-segment-button value="testimonials">
        <ion-icon name="mic" class="segment-icon"></ion-icon>
        <span class="segment-text">Testemunhos</span>
      </ion-segment-button>
      <ion-segment-button value="signature">
        <ion-icon name="create" class="segment-icon"></ion-icon>
        <span class="segment-text">Assinatura</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content [ngSwitch]="actorPage">

 <ion-list *ngSwitchCase="'testimonials'">
  <ion-item-sliding *ngFor="let audio of audioList; index as i;">

      <ion-item>
          <ion-icon name="play" item-start></ion-icon>
          <h2>{{ audio.filename }}</h2>
          <p>{{ audio.filename }}</p>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="removeItem(i)">
          <ion-icon name="trash"></ion-icon>
          Eliminar
        </button>
      </ion-item-options>
  
  </ion-item-sliding>
   
  </ion-list> 
  <ion-fab right bottom *ngSwitchCase="'testimonials'">
    <button ion-fab color="primary" (click)="testimonialStartRecord()" *ngIf="!recording"><ion-icon name="mic"></ion-icon></button>
    <button ion-fab color="primary" (click)="testimonialStopRecord()" *ngIf="recording"><ion-icon name="mic-off"></ion-icon></button>
  </ion-fab>
  <ion-list *ngSwitchCase="'signature'">
    <div *ngIf="drawn == 1" ><img [src]="signatureImage" *ngIf="signatureImage" /></div>
    <div *ngIf="drawn == 0"><signature-pad [options]="signaturePadOptions"  id="signatureCanvas"></signature-pad></div>
  </ion-list>
  <ion-fab right bottom *ngSwitchCase="'signature'">
    <button ion-fab color="primary" (click)="openSignatureModel()"><ion-icon name="create"></ion-icon></button>
  </ion-fab>
  
</ion-content>
