<ion-header>
  <ion-navbar color="primary">
    <ion-title>Adicionar veículo</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createVehicle()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding scroll="true">
  <div class="container">
    <form [formGroup]="vehicle">
      <ion-list no-margin>
        <ion-list-header color="light" no-margin>
          <ion-icon name="car"></ion-icon>
          Geral
        </ion-list-header>
        <ion-item>
          <ion-label floating>Categoria</ion-label>
          <ion-select formControlName="type" value="Ligeiro de passageiros" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="Ligeiro de passageiros">Ligeiro de passageiros</ion-option>
            <ion-option value="Ligeiro de mercadorias">Ligeiro de mercadorias</ion-option>
            <ion-option value="Pesado de passageiros">Pesado de passageiros</ion-option>
            <ion-option value="Pesado de mercadorias">Pesado de mercadorias</ion-option>
            <ion-option value="Motociclo">Motociclo</ion-option>
            <ion-option value="Bicicleta">Bicicleta</ion-option>
            <ion-option value="Outros">Outros</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Matrícula</ion-label>
          <ion-input type="text" formControlName="register"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Marca</ion-label>
          <ion-input type="text" formControlName="make"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Modelo</ion-label>
          <ion-input type="text" formControlName="model"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Ano</ion-label>
          <ion-input type="number" formControlName="year"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Cor</ion-label>
          <ion-select formControlName="color" value="#ffff00" okText="Selecionar" cancelText="Cancelar">
            <ion-option value="#ffff00">Amarelo</ion-option>
            <ion-option value="#0000ff">Azul</ion-option>
            <ion-option value="#ffffff">Branco</ion-option>
            <ion-option value="#000000">Preto</ion-option>
            <ion-option value="#a52a2a">Castanho</ion-option>
            <ion-option value="#bebebe">Cinza</ion-option>
            <ion-option value="#ffa500">Laranja</ion-option>
            <ion-option value="#a020f0">Roxo</ion-option>
            <ion-option value="#ffff00">Rosa</ion-option>
            <ion-option value="#00ff00">Verde</ion-option>
            <ion-option value="#ff0000">Vermelho</ion-option>
          </ion-select>
        </ion-item>
        <ion-list-header color="light" no-margin>
          <ion-icon name="umbrella"></ion-icon>
          Seguro
        </ion-list-header>
        <ion-item>
          <ion-label floating>Apólice</ion-label>
          <ion-input type="text" formControlName="policy"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Seguradora</ion-label>
          <ion-input type="text" formControlName="insurance"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Data de Validade</ion-label>
          <ion-datetime displayFormat="DD/MMM/YYYY HH:mm" pickerFormat="DD/MMM/YYYY HH:mm" formControlName="expirationDate"></ion-datetime>
        </ion-item>
        <ion-list-header color="light">
          <ion-icon name="person"></ion-icon>
          Condutor
        </ion-list-header>
        <ion-item>
          <ion-label floating> Nome do Condutor </ion-label>
          <ion-select okText="Gravar" cancelText="Cancelar" formControlName="driver" multiple="false">
            <ion-option *ngFor="let d of drivers"> {{d.person.name}} </ion-option>
          </ion-select>
        </ion-item>
        <ion-list-header color="light">
          <ion-icon name="people"></ion-icon>
          Passageiros
        </ion-list-header>
        <ion-item>
          <ion-label floating> Nome do Passageiro </ion-label>
          <ion-select okText="Gravar" cancelText="Cancelar" formControlName="passengers" multiple="true">
            <ion-option *ngFor="let p of passengers">{{p.person.name}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </form>
  </div>
</ion-content>