page-sketch {
    .container {
        display: flex;
        flex-flow: column;
        height: 100%;
    }
    
    #map_canvas {
        margin-top: 0;
        flex: 1 1 auto;
        height: 100%;
        width: 100%;
    }

    .skull {
        width: 100%;
        content: url('../assets/imgs/croquiItens/skull.svg') !important;
    }

    .place {
        width: 100%;
        content: url('../assets/imgs/place.svg') !important;
    }

    .circle {
        width: 100%;
        content: url('../assets/imgs/circle.svg') !important;
    }
}