@import '../../theme/variables.scss';

page-user-profile  {
  .splash-bg {
    position: relative;
    background: linear-gradient(
        rgba(20, 101, 170, 0.7), 
        rgba(20, 101, 170, 0.7)
      ), url("../assets/imgs/psp.jpg") no-repeat transparent;
    background-position: center;
    background-size: cover;
    height: 30%;
    z-index: 1;
  }
  .splash-info {
    position: relative;
    z-index: 2;
    margin-top: -64px;
    text-align: center;
  }
  .splash-logo {
    margin: auto;
    // background: url("../assets/imgs/avatar.png");
    background-size: 100%;
    width: 128px;
    height: 128px;
  }
  .splash-intro {
    color: #1465aa;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 0.5rem;
  }
}