<ion-header>
  <ion-navbar color="primary">
    <ion-title>Adicionar interveniente</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="createActor()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <form [formGroup]="formGroup">
      <ion-list-header color="light">
        <ion-icon name="car"></ion-icon>
        Dados do Acidente
      </ion-list-header>

      <ion-item>
        <ion-label floating>Tipo de Interveniente:</ion-label>
        <ion-select formControlName="role" okText="Gravar" cancelText="Cancelar" [(ngModel)]="selectedRole">
          <ion-option value="Driver">Condutor</ion-option>
          <ion-option value="Passenger">Passageiro</ion-option>
          <ion-option value="Pedestrian">Peão</ion-option>
          <ion-option value="Witness">Testemunha</ion-option>
          <ion-option value="Other">Outro</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label floating>Ferimentos:</ion-label>
        <ion-select formControlName="wounds" okText="Gravar" cancelText="Cancelar">
          <ion-option value="None">Nenhum</ion-option>
          <ion-option value="Light">Leves</ion-option>
          <ion-option value="Severe">Graves</ion-option>
          <ion-option value="Dead">Morto</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="selectedRole=='Driver'">
        <ion-label floating>Teste de Alcoolemia:</ion-label>
        <ion-input type="number" formControlName="alcoholTest"></ion-input>
        <ion-note item-end>g/L</ion-note>
      </ion-item>

      <ion-item *ngIf="selectedRole=='Driver' || selectedRole=='Passenger'">
        <ion-label floating>Veículo:</ion-label>
        <ion-select okText="Gravar" cancelText="Cancelar" [(ngModel)]="register" [ngModelOptions]="{standalone: true}"
          multiple="false">
          <ion-option *ngFor="let r of registers">{{r.register}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-list-header color="light">
        <ion-icon name="person"></ion-icon>
        Dados Pessoais
      </ion-list-header>

      <ion-item class="transparent">
        <ion-label floating>Nome:</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Data de Nascimento:</ion-label>
        <ion-datetime doneText="Gravar" cancelText="Cancelar" displayFormat="DD/MM/YYYY" [(ngModel)]="birth"
          [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>

      <ion-item class="transparent">
        <ion-label floating>Contacto:</ion-label>
        <ion-input type="text" formControlName="phone"></ion-input>
      </ion-item>

      <ion-item class="transparent">
        <ion-label floating>Email:</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>

      <ion-item class="transparent">
        <ion-label floating>Nacionalidade:</ion-label>
        <ion-input type="text" formControlName="nationality"></ion-input>
      </ion-item>

      <ion-list-header color="light">
        <ion-icon name="home"></ion-icon>
        Morada
      </ion-list-header>

      <ion-item class="transparent">
        <ion-label floating>Rua:</ion-label>
        <ion-input type="text" formControlName="address"></ion-input>
      </ion-item>


      <ion-item class="transparent">
        <ion-label floating>Código Postal:</ion-label>
        <ion-input type="text" formControlName="zipcode"></ion-input>
      </ion-item>

      <ion-item class="transparent">
        <ion-label floating>Localidade:</ion-label>
        <ion-input type="text" formControlName="locality"></ion-input>
      </ion-item>

      <ion-list-header color="light">
        <ion-icon name="card"></ion-icon>
        Identificacão
      </ion-list-header>

      <ion-item>
        <ion-label floating>Documento de Identificacão:</ion-label>
        <ion-select formControlName="identityDocumentType" okText="Gravar" cancelText="Cancelar">
          <ion-option value="IdentityDocument">CC/BI</ion-option>
          <ion-option value="Passport">Passaporte</ion-option>
          <ion-option value="DriverLicense">Carta Condução</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="transparent">
        <ion-label floating>Nº de Identificação</ion-label>
        <ion-input type="text" formControlName="identityDocumentNumber"></ion-input>
      </ion-item>


      <ion-item class="transparent">
        <ion-label floating>Data de Validade:</ion-label>
        <ion-datetime doneText="Gravar" cancelText="Cancelar" displayFormat="DD/MM/YYYY" min="1900-01-01" max="2050-12-31"
          [(ngModel)]="expires" [ngModelOptions]="{standalone: true}"></ion-datetime>
      </ion-item>
    </form>
  </ion-grid>
</ion-content>