<ion-header>
  <ion-navbar color="primary">
    <ion-title>Informação veículo</ion-title>
    <ion-buttons end [ngSwitch]="vehiclePage">
      <button ion-button icon-only (click)="vehicleEdit()" *ngSwitchCase="'info'">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="confirmDelete(vehicle)" *ngSwitchCase="'info'">
        <ion-icon name="trash"></ion-icon>
      </button>
      <button ion-button icon-only (click)="sendDamages()" *ngSwitchCase="'damages'">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="vehiclePage">
      <ion-segment-button value="info">
        <ion-icon name="information-circle" class="segment-icon"></ion-icon>
        <span class="segment-text">Detalhes</span>
      </ion-segment-button>
      <ion-segment-button value="gallery">
        <ion-icon name="photos" class="segment-icon"></ion-icon>
        <span class="segment-text">Galeria</span>
      </ion-segment-button>
      <ion-segment-button value="damages">
        <ion-icon name="hammer" class="segment-icon"></ion-icon>
        <span class="segment-text">Danos</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="vehiclePage">
  <ion-list *ngSwitchCase="'info'">
    <ion-list-header color="light">
      <ion-icon name="car"></ion-icon>
      Geral
    </ion-list-header>
    <ion-item>
      Matrícula <ion-note item-end>{{ vehicle.meta.register }}</ion-note>
    </ion-item>
    <ion-item>
      Fabricante <ion-note item-end>{{ vehicle.meta.make }}</ion-note>
    </ion-item>
    <ion-item>
      Modelo <ion-note item-end>{{ vehicle.meta.model }}</ion-note>
    </ion-item>
    <ion-list-header color="light">
      <ion-icon name="umbrella"></ion-icon>
      Seguro
    </ion-list-header>
    <ion-item>
      Apólice <ion-note item-end>{{ vehicle.meta.policy }}</ion-note>
    </ion-item>
    <ion-item>
      Seguradora <ion-note item-end>{{ vehicle.meta.insurance }}</ion-note>
    </ion-item>
    <ion-list-header color="light">
      <ion-icon name="person"></ion-icon>
      Condutor
    </ion-list-header>
    <button ion-item>
      <h2>{{ driver.name }}</h2>
      <ion-note item-end>{{ driver.wounds }}</ion-note>
    </button>
    <ion-list-header color="light">
      <ion-icon name="people"></ion-icon>
      Passageiros
    </ion-list-header>
    <button ion-item *ngFor="let passenger of passengers">
      <h2>{{ passenger.name }}</h2>
      <ion-note item-end>{{ passenger.wounds }}</ion-note>
    </button>
  </ion-list>
  <ion-grid *ngSwitchCase="'gallery'">
    <ion-row>
      <ion-col col-4 col-lg-3 *ngFor="let picture of pictures">
        <button (click)=imageViewer()>
          <img src="{{ picture }}" class="photo" />
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab right bottom *ngSwitchCase="'gallery'">
    <!--
      TODO: Este formulário permite efectuar o upload da imagem para o backend. Testar.
    <form>
      <label for="picture" class="filePickerLabel">Adicionar fotografia</label>
      <input type="file" id="picture" name="picture" class="filePicker" [(ngModel)]="newPicture" (change)="onFileChange($event)"/>
      <input type="submit" (click)="uploadPicture()">
    </form>-->

    <button ion-fab color="primary" (click)="openCamera()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-fab>
  <div *ngSwitchCase="'damages'">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-right: 4px;" (click)="toggleDamage(0)">
          <img src="assets/imgs/car-topview/top-left.png" />
          <div [ngClass]="damages[0] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding (click)="toggleDamage(1)">
          <img src="assets/imgs/car-topview/top-center.png" />
          <div [ngClass]="damages[1] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-left: 4px;" (click)="toggleDamage(2)">
          <img src="assets/imgs/car-topview/top-right.png" />
          <div [ngClass]="damages[2] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-right: 4px;" (click)="toggleDamage(3)">
          <img src="assets/imgs/car-topview/middle-left.png" />
          <div [ngClass]="damages[3] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding (click)="toggleDamage(4)">
          <img src="assets/imgs/car-topview/middle-center.png" />
          <div [ngClass]="damages[4] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-left: 4px;" (click)="toggleDamage(5)">
          <img src="assets/imgs/car-topview/middle-right.png" />
          <div [ngClass]="damages[5] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-right: 4px;" (click)="toggleDamage(6)">
          <img src="assets/imgs/car-topview/bottom-left.png" />
          <div [ngClass]="damages[6] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding (click)="toggleDamage(7)">
          <img src="assets/imgs/car-topview/bottom-center.png" />
          <div [ngClass]="damages[7] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-left: 4px;" (click)="toggleDamage(8)">
          <img src="assets/imgs/car-topview/bottom-right.png" />
          <div [ngClass]="damages[8] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>