@import '../../theme/variables.scss';

page-vehicle-detail {
  .segment-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
  }

  .segment-text {
    display: inline-block;
    vertical-align: middle;
  }

  .photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .overlay-off {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
  }

  .overlay-on {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    transition: 0.2s ease;
    background-color: color($colors, danger);
  }
}
