<ion-header>
  <ion-navbar color="primary">
    <ion-title>Informação veículo</ion-title>
    <ion-buttons end [ngSwitch]="vehiclePage">
      <button ion-button icon-only (click)="vehicleEdit()" *ngSwitchCase="'info'">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="confirmDelete(vehicle)" *ngSwitchCase="'info'">
        <ion-icon name="trash"></ion-icon>
      </button>
      <!-- <button ion-button icon-only (click)="uploadPicture()" *ngSwitchCase="'gallery'">
        <ion-icon name="cloud-upload"></ion-icon>
      </button> -->
      <button ion-button icon-only (click)="sendDamages()" *ngSwitchCase="'damages'">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="vehiclePage">
      <ion-segment-button value="info">
        <ion-icon name="information-circle" class="segment-icon"></ion-icon>
        <span class="segment-text">Detalhes</span>
      </ion-segment-button>
      <ion-segment-button value="gallery">
        <ion-icon name="photos" class="segment-icon"></ion-icon>
        <span class="segment-text">Galeria</span>
      </ion-segment-button>
      <ion-segment-button value="damages">
        <ion-icon name="hammer" class="segment-icon"></ion-icon>
        <span class="segment-text">Danos</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [ngSwitch]="vehiclePage">
  <ion-list *ngSwitchCase="'info'">
    <ion-list-header color="light">
      <ion-icon name="car"></ion-icon>
      Geral
    </ion-list-header>
    <ion-item>
      Tipo <ion-note item-end>{{ vehicle.meta.type }}</ion-note>
    </ion-item>
    <ion-item *ngIf="vehicle.meta.register!=''">
      Matrícula <ion-note item-end>{{ vehicle.meta.register }}</ion-note>
    </ion-item>
    <ion-item *ngIf="vehicle.meta.make!=''">
      Fabricante <ion-note item-end>{{ vehicle.meta.make }}</ion-note>
    </ion-item>
    <ion-item *ngIf="vehicle.meta.model!=''">
      Modelo <ion-note item-end>{{ vehicle.meta.model }}</ion-note>
    </ion-item>
    <ion-item *ngIf="vehicle.meta.year!=0 && vehicle.meta.year!=null">
      Ano <ion-note item-end>{{ vehicle.meta.year }}</ion-note>
    </ion-item>
    <ion-list-header color="light" *ngIf="vehicle.meta.policy.length>0 || vehicle.meta.insurance.length>0 || vehicle.meta.expirationDate!=null">
      <ion-icon name="umbrella"></ion-icon>
      Seguro
    </ion-list-header>
    <ion-item *ngIf="vehicle.meta.policy!=''">
      Apólice <ion-note item-end>{{ vehicle.meta.policy }}</ion-note>
    </ion-item>
    <ion-item *ngIf="vehicle.meta.insurance!=''">
      Seguradora <ion-note item-end>{{ vehicle.meta.insurance }}</ion-note>
    </ion-item>
    <ion-item *ngIf="vehicle.meta.expirationDate!=null">
      Data expiração <ion-note item-end>{{ vehicle.meta.expirationDate.split('T')[0] }}</ion-note>
    </ion-item>
    <!-- <ion-list-header color="light">
      <ion-icon name="person"></ion-icon>
      Condutor
    </ion-list-header>
    <button ion-item>
      <h2>{{ driver.name }}</h2>
      <ion-note item-end>{{ driver.wounds }}</ion-note>
    </button>
    <ion-list-header color="light">
      <ion-icon name="people"></ion-icon>
      Passageiros
    </ion-list-header>
    <button ion-item *ngFor="let passenger of passengers">
      <h2>{{ passenger.name }}</h2>
      <ion-note item-end>{{ passenger.wounds }}</ion-note>
    </button> -->
  </ion-list>
  <ion-grid *ngSwitchCase="'gallery'">
    <ion-row>
      <ion-col style="display: block; margin: auto; width: 100%;" col-4 col-lg-3 *ngFor="let picture of pictures">
        <button style="display: block; margin: auto; width: 100%; background-color: transparent;" (click)=imageViewer()>
          <img src="{{ picture }}" class="photo"/>
        </button>
      </ion-col>
    </ion-row>
    <ion-footer>
      <ion-grid no-padding>
        <ion-row no-padding>
          <ion-col no-padding style="margin-right: 4px; margin-left: 4px;">
            <button ion-button full>
              <label for="picture" class="filePickerLabel">Upload fotografia</label>
              <input type="file" id="picture" name="picture" class="filePicker" [(ngModel)]="newPicture" (change)="onFileChange($event)" />
            </button>
          </ion-col>
          <!-- <ion-col no-padding style="margin-right: 4px; margin-left: 2px;">
            <button ion-button full (click)="openCamera()">
              <label class="filePickerLabel">Tirar fotografia</label>
            </button>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-grid>
  <div *ngSwitchCase="'damages'">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-right: 4px;" (click)="toggleDamage(0)">
          <img src="assets/imgs/car-topview/top-left.png" />
          <div [ngClass]="damages[0] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding (click)="toggleDamage(1)">
          <img src="assets/imgs/car-topview/top-center.png" />
          <div [ngClass]="damages[1] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-left: 4px;" (click)="toggleDamage(2)">
          <img src="assets/imgs/car-topview/top-right.png" />
          <div [ngClass]="damages[2] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-right: 4px;" (click)="toggleDamage(3)">
          <img src="assets/imgs/car-topview/middle-left.png" />
          <div [ngClass]="damages[3] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding (click)="toggleDamage(4)">
          <img src="assets/imgs/car-topview/middle-center.png" />
          <div [ngClass]="damages[4] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-left: 4px;" (click)="toggleDamage(5)">
          <img src="assets/imgs/car-topview/middle-right.png" />
          <div [ngClass]="damages[5] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-right: 4px;" (click)="toggleDamage(6)">
          <img src="assets/imgs/car-topview/bottom-left.png" />
          <div [ngClass]="damages[6] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding (click)="toggleDamage(7)">
          <img src="assets/imgs/car-topview/bottom-center.png" />
          <div [ngClass]="damages[7] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
        <ion-col col-3 col-sm-2 col-md-1 no-padding style="margin-left: 4px;" (click)="toggleDamage(8)">
          <img src="assets/imgs/car-topview/bottom-right.png" />
          <div [ngClass]="damages[8] ? 'overlay-on' : 'overlay-off'"></div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
