page-vehicle-detail {
  .segment-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 4px;
  }

  .segment-text {
    display: inline-block;
    vertical-align: middle;
  }

  .photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
