<ion-header>
  <ion-navbar color="primary">
    <ion-title>Rotação</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-range [min]="0" [max]="360" [(ngModel)]="number"></ion-range>
  <div class="icon" [ngStyle]="{
      'transform': 'rotate('+number+'deg)', 
      '-webkit-transform': 'rotate('+number+'deg)', 
      '-ms-transform': 'rotate('+number+'deg)'}">
      <img src='{{typePin}}' style="margin:auto; width:200px;display:block" />
  </div>
</ion-content>


<button ion-button color="primary" (click)="goBack()" full>Confirmar</button>