pin-moduler {
    .displayed {
        display: block;
    }

    .icon {
        width: 250px;
        height: 250px;
        display: inline-block;
        -webkit-mask-size: cover;
        mask-size: cover;
      }
}